<!-- 新規登録 ↓ -->
<div>
  <%= form_with(model:@update, local:true) do |f| %>
    <%= f.label :name, :Name %>
    <%= f.text_field :name %>

    <%= f.label :contents, :Contents %>
    <%= f.text_field :contents %>

    <%= f.submit :送信 %>
  <% end %>
</div>
<!-- 表示 ↓ -->
<div>
  <ul>
    <% @show.each do |update| %>
      <table border="1">
        <tr>
          <li id="update_li">
            <th>名前</th>
              <td><%= update.name %></td>
            <th>本文</th>
              <td><%= update.contents %></td>
          </li>
        </tr>
      </table>
    <% end %>
  </ul> 
</div>
<!-- 編集・更新 ↓ -->
<div>
  <form action="">

  </form>
</div>
