<!-- 新規登録 ↓ -->
<div class="contents">
  <%= form_with(model:@update, local:true) do |f| %>
    <p>
      <%= f.label :name, :Name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :contents, :Contents %>
      <%= f.text_area :contents %>
    </P>
      <%= f.submit :送信 %>
  <% end %>
</div>
<!-- 表示 ↓ -->
<div class="contents" id="post">
  <ul>
    <% @show.each do |update| %>
      <table border="1">
        <tr>
          <li id="update_li">
            <th>名前</th>
              <td><%= update.name %></td>
            <th>本文</th>
              <td>
                <input type="text" value="<%= update.contents %>" >
              </td>
          </li>
        </tr>
      </table>
    <% end %>
  </ul> 
</div>
<!-- 編集・更新 ↓ -->
<div>
  <form action="">

  </form>
</div>
