<!-- 新規登録 ↓ -->
<div id="post">
  <%= form_with(model:@update, local:true) do |f| %>
    <p>
      <%= f.label :name, :Name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :contents, :Contents %>
      <%= f.text_area :contents %>
    </P>
      <%= f.submit :送信 %>
  <% end %>
</div>
<!-- 表示 ↓ -->
<h2>一言コメント</h2>

<div id="contents">
  <table border="1">
    <form action="/updates" accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="patch">
        <% @show.each do |update| %>
          <tr>
            <ul>
              <li id="update_li">
                <th>名前</th>
                  <td><%= update.name %></td>
                <th>本文</th>
                  <td>
                    <input type="text" name="updates[<%= update.id %>]" value="<%= update.contents %>" >
                  </td>
              </li>
            </ul>
          </tr>
        <% end %>
      <input type="submit" name="commit" value="更新" data-disable-with="更新中..">
    </form>
  </table>
</div>
<!-- 編集・更新 ↓ -->
<div>
  <form action="">

  </form>
</div>
