<h1>Top</h1>

<%= link_to "新規登録", new_update_path %>

<div>
  <ul>
    <% @update.each do |update| %>
      <li id="update_li">
        <%= link_to update.name, edit_update_path(update) %>
        <%= update.contents %>
      </li>
    <% end %>
  </ul> 
</div>

<div>
  <%= form_with(model: @test, local: true) do |f| %>
    <%= f.label :name, :Name %>
    <%= f.text_field :name %>

    <%= f.submit :test_send %>
  <% end %>
</div>